*.d.ts
*.log
*.map
*.tsbuildinfo
.DS_Store
coverage/
node_modules/
yarn.lock
!/packages/recma-build-jsx/index.d.ts
!/packages/recma-jsx/index.d.ts
!/packages/recma-parse/index.d.ts
!/packages/recma-stringify/index.d.ts
!/packages/recma/index.d.ts
!/packages/rehype-recma/index.d.ts
